body {
    /* CSS for Body */
    background: linear-gradient(90deg, rgb(29, 144, 139) 0%, rgb(48, 55, 141) 100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#main-container {
    /* CSS for main content container in index.html */
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.btn {
    /* CSS for Buttons on content pages */
    margin: 25px;
    padding: 15px 30px;
    color: white;
    /* background: linear-gradient(90deg, rgb(29, 144, 139) 0%, rgb(48, 55, 141) 100%); */
    background: none;
    border: none;
    border-radius: 5px;
    border: 2px white solid;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover {
    /* Hover CSS for back button */
    background: white;
    color:#27648c;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, rgb(29, 144, 139) 0%, rgb(48, 55, 141) 100%) border-box;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: all 0.5s;
}

main {
    /* CSS for Main CSS */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    /* CSS for <a> text */
    text-decoration: none;
    color: white;
}

main h1 {
    /* CSS for h1 tags in Header */
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 48pt;
    margin-bottom: 100px;
}

.card-container {
    /* CSS for entire card container in index.html */
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(1, 350px);
    gap: 10px;
    margin: 10px 5px;
}

.card {
    /* CSS for each card in card container */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.card:hover {
    /* CSS for card hover */
    border: 2px white solid;
    background-color: white;
    color: #27648c;
    transition: all 0.5s;
}

.content-container {
    /* CSS for all content containers */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-container p, li {
    /* CSS for text inside content containers */
    color: white;
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
}

.content-container p {
    /* CSS specific for p tags in content containers */
    width: 40%;
}

.sub-content-container {
    /* CSS for sub-content containers */
    display: inline-flex;
}

.sub-content-container img {
    /* CSS for images in sub-content-containers */
    align-self: center;
}

#forInLoopPara {
    width: 50%;
}